<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Starfish Classification</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <section class="hero-section">
        <div>
            <h1>Identify Your Starfish!</h1>
            <p>Identify starfish types with one click.</p>
        </div>
    </section>

    <div class="upload-form">
        <form id="prediction-form" enctype="multipart/form-data">
            <label for="file">Upload Image:</label>
            <input type="file" id="file" name="file" accept="image/*" required>
            <button type="submit">Predict</button>
        </form>
    </div>

    <div id="result"></div>
    <div id="description"></div>

    <script src="/static/js/main.js"></script>
</body>
</html>